body
{ 
	
	background-color:#ffffff;
	font-family:'Comforter', cursive;
	font-size:22px;
	color:white;
}


	
	
	
	
header img 
{	
	display:block;
	background-color:#ffffff;
	
	margin-top:30px;
	margin-bottom:30px;
	padding:20px;
	
}
nav {
	background-color: #ffffff;
	cursor: pointer;
}
a.przycisk {

	display: inline-block;
	width: center;
	padding: 15px 30px 15px 30px;
	color: black;
	border-style: solid; color: #707070;
	border-radius: 5px;
	
}
a.przycisk:hover {
 	font-size:25px;
	background-color: #7e7e7e5b;
	color: Black;
}

section
{
	background-color: #ffffff;
	color:#707070;
}

footer
{
	color: #707070; 
	background-color: #ffffff;
	
	

}